.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
  }

#imagen_dos {
    border-radius: 50%;
    width: 30%;
    height: 30%;    
}

#bloque_uno p {
    font-size: 3rem;
    color: black;
    position: absolute;
    display: inline-block;
    top: 40%;
    right: 50%;
}


section {

    height: 650px;
    display: flex;
    justify-content: space-evenly;
    padding: 0 40px;
    align-items: center;

}

section img {
    height: 60%;
}

section h2 {
    display: inline-block;
    padding: 7px 0;
    color: blue;
    text-decoration: none;
    width: 2em;
    text-align: center;
    border: 1px solid black;
}

section:nth-child(2) {
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

section:nth-child(3) {
    background-image: linear-gradient(to top, #fddb92 0%, #d1fdff 100%);
}

section:nth-child(4) {
    background-image: linear-gradient(to top, #dbdcd7 0%, #dddcd7 24%, #e2c9cc 30%, #e7627d 46%, #b8235a 59%, #801357 71%, #3d1635 84%, #1c1a27 100%);
}

section:nth-child(5) {
    background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);
}


footer {
    font-size: 2em;
    font-family: 'Courier New', Courier, monospace;
    width: auto;
    height: 50px;
}